:root {
    --primary-color: #2d4f9c;
    --soft-blue-color: #4265b8;
    --soft-black-color: #222;
    --black-color: #000;
    --grey-color: #6e6969;
    --light-grey-color: #dedede;
    --light-blue-bg: rgba(45, 79, 156, 15%);
    --red-color: #ad2c2c;
    --white-color: #fff;
    --light--green: rgba(41, 202, 141, 38%);
    --green-color: #2cad41;
}