@import '../../../styles/mixins.scss';

.form-section {
    padding: 36px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;

    @media screen and (min-width: 1024px) {
        padding: 52px 0;
        justify-content: center;
        align-items: center;
        flex-direction: column !important;
    }
}

.form-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-weight: 700;
        color: var(--primary-color);
    }
}

.user-form {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media screen and (min-width: 1024px) {
        margin-top: 36px;
    }

    .input-wrap {
        width: 100%;
        margin: 8px 0;
        position: relative;

        @media screen and (min-width: 768px) {
            width: 45%;
            margin: 10px;
        }
        
        input {
            width: 100%;
            border: 1px solid var(--grey-color);
            outline: none;
            border-radius: 8px;
            padding: 10px;

            &:hover,
            &:focus,
            &:focus-visible {
                outline: none;
                outline: 2px solid var(--primary-color);
                border: 1px solid var(--primary-color);
            }

            &.invalid-input {
                outline: 2px solid var(--red-color);
                border: 1px solid var(--red-color);
        
                &:hover,
                &:focus,
                &:focus-visible {
                    outline: 2px solid var(--red-color);
                    border: 1px solid var(--red-color);
                }
            }
        }
    }

    .validation-error {
        color: var(--red-color);
        position: absolute;
        left: 0;
        top: 100%;
        font-size: 12px;
    }

    .btn-wrap {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 24px;

        @media screen and (min-width: 1024px) {
            margin-top: 36px;
        }
    }
}

.popup {
    @include flex-center;
    border-radius: 5px;
    padding: 15px;
    background-color: var(--light--green);
    text-align: center;
    margin-bottom: 15px;

    @media screen and (min-width: 1024px) {
        padding: 20px;
        margin-bottom: 20px;
    }

    span {
        color: var(--white-color);
    }
}