@import '../../../styles/mixins.scss';

footer {
    border-top: 1px solid var(--light-grey-color);
}

.footer {
    @include flex-center;
    justify-content: center;
    padding: 24px 15px;

    @media screen and (min-width: 1024px) {
        padding: 36px 20px;
    }

    .inner {
        @include flex-center;
        margin-bottom: 24px;

        @media screen and (min-width: 1024px) {
            margin-bottom: 42px;
        }
    }
}